h1 {
    color: lightseagreen;
}

p {
    font-size: 20px;
    /* font-weight: 400; you can inspect a page and view the font properties */
    font-family:  helvetica, arial, sans-serif;
}

p strong { /* this shows strong anywhere in the doc but only if it's a child of the p */
    font-size: 1.5rem; /* em is relative to the parent font-size - use rem to make it relative to the base browser font size, generally 16px */
}

/* html {
    font-size: 30px; /* this changes the base font-size of browser /
} */

.bgimg {
    width: 200px;
    height: 150px;
    color: aliceblue;
    padding: 1rem;
    background: url('https://placekeanu.com/200') purple center no-repeat;
    background-size: cover; /* can use cover, contain or specific sizes (px or %) */
    border-radius: 1rem;
    box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.513);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 0, 0.617);
    position: relative;
    top: -100px;
    left: 50px;
}